In [83]:
import os
import pandas as pd
py_800_dir = '../data/CodeNet/python_800'

data = []
for root, dirs, files in os.walk(py_800_dir):
    for file in files:
        if file.endswith(".py"):
            data.append({'problem_id': root.split('/')[-1], 'submission_id': file.strip('.py')})
py800_df = pd.DataFrame(data)
py800_df

       problem_id submission_id
0          p03494    s642429606
1          p03494    s194658803
2          p03494    s575045794
3          p03494    s476321647
4          p03494    s965275653
...           ...           ...
239995     p02991    s289199974
239996     p02991    s007313054
239997     p02991    s209638769
239998     p02991    s447876624
239999     p02991    s141075590

[240000 rows x 2 columns]

In [84]:
import pandas as pd
import os

folder = '../data/CodeNet/metadata'
dataframes = []  # list to store all dataframes

for filename in os.listdir(folder):
    if filename.endswith('.csv') and filename != 'problem_list.csv':
        df = pd.read_csv(os.path.join(folder, filename))
        dataframes.append(df)

# concatenate all dataframes
metadata_df = pd.concat(dataframes, ignore_index=True)
py800_metadata = metadata_df[metadata_df['submission_id'].isin(py800_df['submission_id'])]
py800_metadata

/var/folders/52/649zlcmd67lcyfjp21c25b5m0000gn/T/ipykernel_82657/3461264102.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata_df = pd.concat(dataframes, ignore_index=True)

,submission_id,problem_id,user_id,date,language,original_language,filename_ext,status,cpu_time,memory,code_size,accuracy
1154,s587715745,p03697,u401183062,1601500172,Python,Python (3.8.2),py,Accepted,26.0,9016.0,153,NaN
1161,s922005907,p03697,u910358825,1601374486,Python,Python (3.8.2),py,Accepted,21.0,8996.0,65,NaN
1165,s412641373,p03697,u554784585,1601351167,Python,Python (3.8.2),py,Accepted,25.0,9092.0,76,NaN
1167,s106057175,p03697,u208713671,1601267345,Python,PyPy3 (7.3.0),py,Accepted,65.0,61768.0,89,NaN
1168,s956066354,p03697,u017603316,1601267203,Python,PyPy3 (7.3.0),py,Accepted,70.0,61820.0,101,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
13888503,s332272950,p02584,u861886710,1597987977,Python,Python (3.8.2),py,Accepted,28.0,9100.0,299,NaN
13888534,s624091964,p02584,u514687406,1597977553,Python,Python (3.8.2),py,Accepted,29.0,9048.0,341,NaN
13888537,s071031020,p02584,u409306788,1597977223,Python,Python (3.8.2),py,Accepted,27.0,9040.0,270,NaN
13888542,s585564937,p02584,u198336369,1597975895,Python,Python (3.8.2),py,Accepted,30.0,9120.0,463,NaN
13888604,s484272264,p02584,u809495242,1597958845,Python,Python (3.8.2),py,Accepted,27.0,9184.0,190,NaN

In [85]:
# group by problem_id and get the number of submissions for each problem
problem_submissions = py800_metadata.groupby('problem_id').size().reset_index(name='submissions')
problem_submissions

    problem_id  submissions
0       p00000          300
1       p00001          300
2       p00002          300
3       p00003          300
4       p00005          300
..         ...          ...
795     p04035          300
796     p04043          300
797     p04044          300
798     p04046          300
799     p04047          300

[800 rows x 2 columns]

In [86]:
# group the above dataframe by problem_id and count of number of wrong and correct submissions
grouped_df = py800_metadata.groupby('problem_id')['status'].value_counts().unstack().fillna(0)
grouped_df

status      Accepted
problem_id
p00000           300
p00001           300
p00002           300
p00003           300
p00005           300
...              ...
p04035           300
p04043           300
p04044           300
p04046           300
p04047           300

[800 rows x 1 columns]

In [88]:
# read problem_list.csv and make a df
problem_list_df = pd.read_csv(os.path.join(folder, 'problem_list.csv'))
# rename column id to problem_id
problem_list_df.rename(columns={'id': 'problem_id'}, inplace=True)

In [89]:
# enrich py800_metadata with problem_list_df['name']
py800_metadata = py800_metadata.merge(problem_list_df, on='problem_id')
py800_metadata

,submission_id,problem_id,user_id,date,language,original_language,filename_ext,status,cpu_time,memory,code_size,accuracy,name,dataset,time_limit,memory_limit,rating,tags,complexity
0,s587715745,p03697,u401183062,1601500172,Python,Python (3.8.2),py,Accepted,26.0,9016.0,153,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN
1,s922005907,p03697,u910358825,1601374486,Python,Python (3.8.2),py,Accepted,21.0,8996.0,65,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN
2,s412641373,p03697,u554784585,1601351167,Python,Python (3.8.2),py,Accepted,25.0,9092.0,76,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN
3,s106057175,p03697,u208713671,1601267345,Python,PyPy3 (7.3.0),py,Accepted,65.0,61768.0,89,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN
4,s956066354,p03697,u017603316,1601267203,Python,PyPy3 (7.3.0),py,Accepted,70.0,61820.0,101,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239995,s332272950,p02584,u861886710,1597987977,Python,Python (3.8.2),py,Accepted,28.0,9100.0,299,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN
239996,s624091964,p02584,u514687406,1597977553,Python,Python (3.8.2),py,Accepted,29.0,9048.0,341,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN
239997,s071031020,p02584,u409306788,1597977223,Python,Python (3.8.2),py,Accepted,27.0,9040.0,270,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN
239998,s585564937,p02584,u198336369,1597975895,Python,Python (3.8.2),py,Accepted,30.0,9120.0,463,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN
239999,s484272264,p02584,u809495242,1597958845,Python,Python (3.8.2),py,Accepted,27.0,9184.0,190,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN

In [90]:
from bs4 import BeautifulSoup
import os

def extract_description(content, dataset_name):
    soup = BeautifulSoup(content, 'html.parser')
    if dataset_name == 'AIZU':
        first_p = soup.find('p')
        description = first_p.text.strip() if first_p else 'NA'
        return description
    elif dataset_name == 'AtCoder':
        first_section = soup.find('section')
        if first_section:
            h3 = first_section.find('h3')
            if h3:
                h3.extract()
            description = first_section.text.strip() if first_section.text else 'NA'
            return description
        
def get_dataset_name(problem_id):
    # gets a row from problem_list_df with the given problem_id
    row = problem_list_df[problem_list_df['problem_id'] == problem_id]
    if not row.empty:
        return row['dataset'].values[0]
            

folder = '../data/CodeNet/problem_descriptions'
contents = []

for filename in os.listdir(folder):
    if filename.endswith('.html'):
        with open(os.path.join(folder, filename), 'r') as f:
            content = f.read()
            dataset_name = get_dataset_name(filename.strip('.html'))
            description = extract_description(content, dataset_name)
            contents.append({"problem_id": filename.strip('.html'), "description": description})

# create description_df
description_df = pd.DataFrame(contents)
description_df

# merge py800_metadata with description_df
py800_metadata = py800_metadata.merge(description_df, on='problem_id')
py800_metadata

,submission_id,problem_id,user_id,date,language,original_language,filename_ext,status,cpu_time,memory,code_size,accuracy,name,dataset,time_limit,memory_limit,rating,tags,complexity,description
0,s587715745,p03697,u401183062,1601500172,Python,Python (3.8.2),py,Accepted,26.0,9016.0,153,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN,You are given two integers A and B as the inpu...
1,s922005907,p03697,u910358825,1601374486,Python,Python (3.8.2),py,Accepted,21.0,8996.0,65,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN,You are given two integers A and B as the inpu...
2,s412641373,p03697,u554784585,1601351167,Python,Python (3.8.2),py,Accepted,25.0,9092.0,76,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN,You are given two integers A and B as the inpu...
3,s106057175,p03697,u208713671,1601267345,Python,PyPy3 (7.3.0),py,Accepted,65.0,61768.0,89,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN,You are given two integers A and B as the inpu...
4,s956066354,p03697,u017603316,1601267203,Python,PyPy3 (7.3.0),py,Accepted,70.0,61820.0,101,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN,You are given two integers A and B as the inpu...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239995,s332272950,p02584,u861886710,1597987977,Python,Python (3.8.2),py,Accepted,28.0,9100.0,299,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,"Takahashi, who lives on the number line, is no..."
239996,s624091964,p02584,u514687406,1597977553,Python,Python (3.8.2),py,Accepted,29.0,9048.0,341,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,"Takahashi, who lives on the number line, is no..."
239997,s071031020,p02584,u409306788,1597977223,Python,Python (3.8.2),py,Accepted,27.0,9040.0,270,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,"Takahashi, who lives on the number line, is no..."
239998,s585564937,p02584,u198336369,1597975895,Python,Python (3.8.2),py,Accepted,30.0,9120.0,463,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,"Takahashi, who lives on the number line, is no..."
239999,s484272264,p02584,u809495242,1597958845,Python,Python (3.8.2),py,Accepted,27.0,9184.0,190,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,"Takahashi, who lives on the number line, is no..."

In [91]:
# group by py800_metadata by dataset and get the number of problems in each dataset
problems_in_dataset = py800_metadata.groupby('dataset')['problem_id'].nunique().reset_index(name='problems')
problems_in_dataset

   dataset  problems
0     AIZU        68
1  AtCoder       732

In [92]:
# randomly sample 10 problems from each dataset
sampled_problems = py800_metadata.groupby('dataset').apply(lambda x: x.sample(n=10)).reset_index(drop=True)
sampled_problems

/var/folders/52/649zlcmd67lcyfjp21c25b5m0000gn/T/ipykernel_82657/114353386.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled_problems = py800_metadata.groupby('dataset').apply(lambda x: x.sample(n=10)).reset_index(drop=True)

,submission_id,problem_id,user_id,date,language,original_language,filename_ext,status,cpu_time,memory,code_size,accuracy,name,dataset,time_limit,memory_limit,rating,tags,complexity,description
0,s156913833,p02392,u465531608,1411811332,Python,Python,py,Accepted,20.0,4188.0,75,5/5,Range,AIZU,1000.0,131072.0,NaN,NaN,NaN,"Write a program which reads three integers a, ..."
1,s240607340,p02413,u488038316,1511330223,Python,Python3,py,Accepted,40.0,8396.0,672,5/5,Spreadsheet,AIZU,1000.0,131072.0,NaN,NaN,NaN,Your task is to perform a simple table calcula...
2,s800436816,p02400,u358919705,1471558797,Python,Python3,py,Accepted,30.0,7504.0,97,5/5,Circle,AIZU,1000.0,131072.0,NaN,NaN,NaN,Write a program which calculates the area and ...
3,s230427344,p02258,u760369990,1464015857,Python,Python3,py,Accepted,210.0,7668.0,282,40/40,Maximum Profit,AIZU,1000.0,131072.0,NaN,NaN,NaN,You can obtain profits from foreign exchange m...
4,s753131238,p02260,u821624310,1496835698,Python,Python3,py,Accepted,20.0,7656.0,418,10/10,Selection Sort,AIZU,1000.0,131072.0,NaN,NaN,NaN,Write a program of the Selection Sort algorith...
5,s725019803,p02404,u435158342,1559535941,Python,Python3,py,Accepted,20.0,5704.0,227,2/2,Print a Frame,AIZU,1000.0,131072.0,NaN,NaN,NaN,Draw a frame which has a height of H cm and a ...
6,s806042167,p02400,u885889402,1453365055,Python,Python3,py,Accepted,30.0,7536.0,100,5/5,Circle,AIZU,1000.0,131072.0,NaN,NaN,NaN,Write a program which calculates the area and ...
7,s233878159,p02404,u775586391,1447815277,Python,Python3,py,Accepted,20.0,7612.0,226,2/2,Print a Frame,AIZU,1000.0,131072.0,NaN,NaN,NaN,Draw a frame which has a height of H cm and a ...
8,s390418204,p02389,u262004823,1541244922,Python,Python3,py,Accepted,20.0,5592.0,86,2/2,Rectangle,AIZU,1000.0,131072.0,NaN,NaN,NaN,Write a program which calculates the area and ...
9,s192371589,p00001,u197670577,1508082931,Python,Python,py,Accepted,30.0,6348.0,128,4/4,List of Top 3 Hills,AIZU,1000.0,131072.0,NaN,NaN,NaN,There is a data which provides heights (in met...
10,s599137830,p02778,u099450021,1599064751,Python,Python (3.8.2),py,Accepted,28.0,9020.0,32,NaN,AtCoder Beginner Contest 154 - I miss you...,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,Given is a string S. Replace every character i...
11,s983536364,p02851,u223904637,1574751276,Python,PyPy3 (2.4.0),py,Accepted,926.0,113564.0,533,NaN,AtCoder Beginner Contest 146 - Rem of Sum is Num,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,Given are a sequence of N positive integers A_...
12,s717955351,p02554,u782930273,1600626978,Python,Python (3.8.2),py,Accepted,390.0,11076.0,63,NaN,AtCoder Beginner Contest 178 - Ubiquity,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,"How many integer sequences A_1,A_2,\ldots,A_N ..."
13,s961745986,p03759,u634079249,1583893914,Python,Python (3.4.3),py,Accepted,18.0,2940.0,250,NaN,AtCoder Beginner Contest 058 - Î¹âŠ¥l,AtCoder,2000.0,262144.0,NaN,NaN,NaN,Three poles stand evenly spaced along a line. ...
14,s259043285,p03284,u414458988,1579224664,Python,PyPy3 (2.4.0),py,Accepted,168.0,38256.0,385,NaN,AtCoder Beginner Contest 105 - AtCoder Crackers,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,Takahashi has decided to distribute N AtCoder ...
15,s879247706,p02780,u243312682,1596180971,Python,Python (3.8.2),py,Accepted,139.0,31892.0,456,NaN,AtCoder Beginner Contest 154 - Dice in Line,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,We have N dice arranged in a line from left to...
16,s876022876,p02684,u969708690,1598554263,Python,Python (3.8.2),py,Accepted,154.0,32064.0,428,NaN,AtCoder Beginner Contest 167 - Teleporter,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,"The Kingdom of Takahashi has N towns, numbered..."
17,s447162629,p03131,u587589241,1597068813,Python,PyPy3 (7.3.0),py,Accepted,68.0,61816.0,193,NaN,Yahoo Programming Contest 2019 - When I hit my...,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,Snuke has one biscuit and zero Japanese yen (t...
18,s552218216,p02682,u399556431,1598910756,Python,Python (3.8.2),py,Accepted,25.0,9052.0,381,NaN,AtCoder Beginner Contest 167 - Easy Linear Pro...,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,"We have A cards, each of which has an integer ..."
19,s625157752,p03732,u631277801,1536862113,Python,Python (3.4.3),py,Accepted,183.0,3192.0,1733,NaN,AtCoder Beginner Contest 060 - Simple Knapsack,AtCoder,2000.0,262144.0,NaN,NaN,NaN,You have N items and a bag of strength W.\nThe...

In [97]:
# save py800_metadata to a csv file
py800_metadata.to_json('../data/CodeQualData/py800_metadata.jsonl', orient='records', lines=True)

In [98]:
# just get the problem_id and description columns from py800_metadata
py800_metadata_problems_description = py800_metadata[['problem_id', 'description']].drop_duplicates()
py800_metadata_problems_description

       problem_id                                        description
0          p03697  You are given two integers A and B as the inpu...
300        p02576  Takahashi loves takoyaki - a ball-shaped snack...
600        p03126  Katsusando loves omelette rice.\nBesides, he l...
900        p02238  Depth-first search (DFS) follows the strategy ...
1200       p02953  There are N squares arranged in a row from lef...
...           ...                                                ...
238500     p02553  Given are integers a,b,c and d.\nIf x and y ar...
238800     p03665  There are N bags of biscuits. The i-th bag con...
239100     p03103  Hearing that energy drinks increase rating in ...
239400     p03671  Snuke is buying a bicycle.\nThe bicycle of his...
239700     p02584  Takahashi, who lives on the number line, is no...

[800 rows x 2 columns]

In [99]:
# save py800_metadata_problems_description to a jsonl file
py800_metadata_problems_description.to_json('../data/CodeQualData/py800_metadata_problem_desc.jsonl', orient='records', lines=True)

In [100]:
# from py800_df, randomly sample 15 submissions from each problem
sampled_submissions = py800_df.groupby('problem_id').apply(lambda x: x.sample(n=15)).reset_index(drop=True)
# for each row, copy files from py_800_dir to a new directory called py800_sampled
for index, row in sampled_submissions.iterrows():
    problem_id = row['problem_id']
    submission_id = row['submission_id']
    src = os.path.join(py_800_dir, problem_id, submission_id + '.py')
    dst = os.path.join('../data/CodeQualData/py800_sampled', problem_id, submission_id + '.py')
    os.makedirs(os.path.dirname(dst), exist_ok=True)
    os.system(f'cp {src} {dst}')

/var/folders/52/649zlcmd67lcyfjp21c25b5m0000gn/T/ipykernel_82657/3902192237.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled_submissions = py800_df.groupby('problem_id').apply(lambda x: x.sample(n=15)).reset_index(drop=True)

In [102]:
# for each submission in the ../data/CodeQualData/py800_sampled directory, get the number of lines of code
data = []
for root, dirs, files in os.walk('../data/CodeQualData/py800_sampled'):
    for file in files:
        if file.endswith(".py"):
            with open(os.path.join(root, file), 'r') as f:
                lines = f.readlines()
                data.append({'problem_id': root.split('/')[-1], 'submission_id': file.strip('.py'), 'lines_of_code': len(lines)})
            
#order by descending order of lines_of_code
lines_of_code_df = pd.DataFrame(data)
lines_of_code_df = lines_of_code_df.sort_values(by='lines_of_code', ascending=False)
lines_of_code_df

      problem_id submission_id  lines_of_code
1530      p03263    s081852819            213
9782      p02889    s264554810            204
11257     p02763    s028612805            201
989       p02585    s216662009            187
254       p02577    s401640981            184
...          ...           ...            ...
7339      p03030    s335400674              1
1837      p02717    s013147790              1
680       p02711    s261077690              1
2773      p02664    s946768430              1
10854     p03079    s814897440              1

[11999 rows x 3 columns]

In [103]:
# for each submission in the ../data/CodeQualData/py800_sampled directory, get the size of the file
data = []
for root, dirs, files in os.walk('../data/CodeQualData/py800_sampled'):
    for file in files:
        if file.endswith(".py"):
            data.append({'problem_id': root.split('/')[-1], 'submission_id': file.strip('.py'), 'size': os.path.getsize(os.path.join(root, file))})

#order by descending order of size
size_df = pd.DataFrame(data)
size_df = size_df.sort_values(by='size', ascending=False)
size_df

      problem_id submission_id    size
816       p03291    s588652634  203669
10258     p02595    s640688773   18197
11257     p02763    s028612805    5675
4441      p03108    s064812745    5311
973       p03033    s924887468    5230
...          ...           ...     ...
7138      p03860    s137913429      24
5438      p02705    s830498560      23
8911      p02645    s588243125      23
10679     p03643    s424086712      22
10686     p03643    s785696424      21

[11999 rows x 3 columns]